.event{
    margin: 20px 0px;
    display: flex;
        align-items: center;
        background-color: #aa595959;
        border-radius: 10px;
        padding: 20px;
        height: 100%;
        width: 100%;
        justify-content: space-around;
}
.event .time{
    height: 50px;
        width: 50px;
        background-color: brown;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
}

.event .details{
    width: 80%;
}
@media only screen and (max-width: 600px){
    .event{
        flex-direction: column;
    }
    .event .time{
        margin: 10px 0px;
    }
}